<div class="container">
    <div class="row">
        <div class="thumbnail aligncenter">
            <h1>Profile</h1>
        </div>
        <div class="row masonry2" data-columns>
          <div class="thumbnail">
            <div><p>Name:&nbsp<b><%= @user.name %></b></p></div>
            <div><p>e-Mail:&nbsp<b><%= @user.email %></b></p></div>
            <img src="<%= @user.avatar %>"  alt="">
          </div>


             <div class="thumbnail">
                 <div><p>Hotel List</p></div>






                <%= link_to "Add Hotel", add_path %>

             </div>

        </div>
    </div>
</div>
