<% provide(:title, 'Contact') %>
<div class="container ">
    <div class="row thumbnail aligncenter ">
            <p>Имя:</p><input type="text"> </input>
            <p>Почта:</p><input type="text"> </input>
            <p>Ваше сообщение:</p>
            <p><textarea name="adress" cols="50" rows="5"> </textarea></p>

            <a href="#" class="btn">Отправить</a>
    </div>
</div>
