<% provide(:title, 'Help') %>
  <div class="container ">
      <div class="row thumbnail ">
       <a href="#add">Как добавить свой отель на сайт?</a>
      </div>
      <div class="row thumbnail ">
       <a name="add">Добавление своего отеля на сайт</a>
       <p>Для того, что бы добавить свой отель на наш сайт, перейдите в свой <a href="profile.html">профиль</a> и нажмите кнопку "Добавить отель" Либо перейдите по <a href="addhotel.html">этой ссылке</a>.</p>
      </div>
  </div>
