<div class="addhotel">
<div class="thumbnail">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <a href="#" class="btn">Подробнее</a>
</div>
</div>
