<div class="hotelslist">
<div class="container">

  <div class="row masonry" data-columns>
     <div class="hoelslistitem">
          <div class="thumbnail">
              <img src="http://placehold.it/300x240" alt="">
              <div class="caption">
                  <h3><a href="#"> Название</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <a href="#" class="btn">Подробнее</a>
              </div>
          </div>
      </div>
             <div class="hoelslistitem">
          <div class="thumbnail">
              <img src="http://placehold.it/300x240" alt="">
              <div class="caption">
                  <h3><a href="#"> Название</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <a href="#" class="btn">Подробнее</a>
              </div>
          </div>
      </div>
             <div class="hoelslistitem">
          <div class="thumbnail">
              <img src="http://placehold.it/300x240" alt="">
              <div class="caption">
                  <h3><a href="#"> Название</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <a href="#" class="btn">Подробнее</a>
              </div>
          </div>
      </div>
             <div class="hoelslistitem">
          <div class="thumbnail">
              <img src="http://placehold.it/300x240" alt="">
              <div class="caption">
                  <h3><a href="#"> Название</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <a href="#" class="btn">Подробнее</a>
              </div>
          </div>
      </div>
             <div class="hoelslistitem">
          <div class="thumbnail">
              <img src="http://placehold.it/300x240" alt="">
              <div class="caption">
                  <h3><a href="#"> Название</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <a href="#" class="btn">Подробнее</a>
              </div>
          </div>
      </div>
             <div class="hoelslistitem">
          <div class="thumbnail">
              <img src="http://placehold.it/300x240" alt="">
              <div class="caption">
                  <h3><a href="#"> Название</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <a href="#" class="btn">Подробнее</a>
              </div>
          </div>
      </div>
  </div>
</div>
