<div class="container">
   <hr>
   <div class="row">
           <div class="col-xs-8">
               <ul class="list-unstyled list-inline pull-left">
                   <li><a href="#">Условия обслуживания</a></li>
                   <li><a href="#">Контакты</a></li>
                   <li><a href="#">Кофеденциальность</a></li>
               </ul>
           </div>
           <div class="col-xs-4">
               <p class="text-muted pull-right">© 2015 Hotel Advisor. Все права защищены</p>
           </div>
       </div>
</div>
