<div class="container thumbnail">
<nav >
    <ul class="pager">
        <li class="previous"><a  href="#">&larr;Назад</a></li>
                      <li class="active"><a href="#">1</a></li>
                       <li><a href="#">2</a></li>

        <li class="next"> <a  href="#">Вперед &rarr;</a></li>
    </ul>
</nav>
</div>
